.profile-header {
  height: inherit !important;
}

.profile-header-nav .active:after {
  border: none;
}

.cover {
  background: url(/assets/images/the_world_wakes.jpg) top center; background-size: cover !important;
  height: 500px !important;
}
