<div class="container p-4">
  <div class="row justify-content-center">
    <div class="col col-sm-6">
      <h3 class="font-heading text-primary text-lowercase text-center">recent</h3>

      <ul class="list-group media-list media-list-stream bg-dark-secondary mb-4 rounded shadow">

        <li class="media list-group-item bg-dark-secondary p-2 pr-4 d-flex h100" *ngFor="let feed of playerFeed">
          <img
            class="media-object d-flex align-self-start mr-3"
            [src]="feed.img">
          <div class="media-body justify-content-center align-self-center">
            <div class="media-heading">
              <h6 class="font-weight-bold text-primary d-inline" [innerHTML]="feed.name"></h6>
              <p class="d-inline text-secondary" [innerHTML]="feed.details"></p>
              <span class="float-right">
                <span class="pr-1 text-primary"><i class="fa fa-reply"></i></span><span class="text-primary">100</span>
                <span class="pl-2 pr-1 text-primary"><i class="fa fa-thumbs-up"></i></span><span class="text-primary">300</span>
              </span>
            </div>
            <small class="text-medium-blue" [innerHTML]="feed.date"></small>
          </div>
        </li>
      </ul>

    </div>

    <div class="col col-sm-6">
      <h3 class="font-heading text-primary text-lowercase text-center">hall of fame</h3>

      <ul class="list-group media-list media-list-stream bg-dark-secondary mb-4 rounded shadow">

        <li class="media list-group-item bg-dark-secondary p-2 pr-4 d-flex h100" *ngFor="let feed of playerFeed">
          <img
            class="media-object d-flex align-self-start mr-3"
            [src]="feed.img">
          <div class="media-body justify-content-center align-self-center">
            <div class="media-heading">
              <h6 class="font-weight-bold text-primary d-inline" [innerHTML]="feed.name"></h6>
              <p class="d-inline text-secondary" [innerHTML]="feed.details"></p>
              <span class="float-right">
                <span class="pr-1 text-primary"><i class="fa fa-reply"></i></span><span class="text-primary">100</span>
                <span class="pl-2 pr-1 text-primary"><i class="fa fa-thumbs-up"></i></span><span class="text-primary">300</span>
              </span>
            </div>
            <small class="text-medium-blue" [innerHTML]="feed.date"></small>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="col col-sm-6">
       <h3 class="font-heading text-primary text-lowercase text-center">Clans</h3>
       <div class="card bg-dark-secondary mb-3" *ngFor="let feed of clanFeed">
         <div class="card-body text-light-blue p-3">
           <strong class="font-weight-bold" [innerHTML]="feed.name"></strong> <span
           [innerHTML]="feed.details"></span><br/>
           <small class="text-medium-blue" [innerHTML]="feed.date"></small>
         </div>
       </div>
     </div>-->
  </div>
</div>

<!--<div class="container d-flex">
  <div class="row justify-content-center align-self-center">
    <div class="col col-sm-3">
      <input class="form-control form-control-lg bg-dark border-dark" placeholder="Search for a..."/>
    </div>
    <div class="col col-sm-1">
      <button class="btn btn-primary btn-lg btn-block">Player</button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-sm-4">
      <div class="card bg-dark">
        <div class="card-body text-center">
          <h2 class="font-secondary text-white">Global Feed</h2>
          <span class="text-medium-blue">the latest in RuneScape3 player and clan activity</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top:20px">
  <div class="row justify-content-md-center">
    <div class="col col-sm-6">
      <h5 class="text-uppercase text-primary font-weight-bold">Players</h5>
      <div class="card bg-dark-secondary mb-1">
        <div class="card-body text-light-blue p-3">
          <strong class="font-weight-bold">Sync</strong> achieved 120 thieving.<br/>
          <small class="text-medium-blue">Today @ 10:30 PM</small>
        </div>
      </div>
      <div class="card bg-dark-secondary mb-1">
        <div class="card-body text-light-blue p-3">
          <strong class="font-weight-bold">Sync</strong> achieved 120 thieving.<br/>
          <small class="text-medium-blue">Today @ 10:30 PM</small>
        </div>
      </div>
    </div>
    <div class="col col-sm-6">
      <h5 class="text-uppercase text-primary font-weight-bold">Clans</h5>
      <div class="card bg-dark-secondary mb-1">
        <div class="card-body text-light-blue p-3">
          <strong class="font-weight-bold">Maximized</strong> reached 10 billion clan xp<br/>
          <small class="text-medium-blue">Today @ 10:30 PM</small>
        </div>
      </div>
      <div class="card bg-dark-secondary mb-1">
        <div class="card-body text-light-blue p-3">
          <strong class="font-weight-bold">Maximized</strong> reached 10 billion clan xp<br/>
          <small class="text-medium-blue">Today @ 10:30 PM</small>
        </div>
      </div>
    </div>
  </div>
</div>
-->
