<div class="card bg-dark-secondary d-none d-sm-block">
  <div class="card-body pt-0 pb-0">
    <table class="table table-dark table-fit table-no-border mt-0">
      <thead class="bg-dark-secondary">
      <tr>
        <th scope="col">Skill</th>
        <th scope="col">Level</th>
        <th scope="col">XP</th>
        <th scope="col">Rank</th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let skill of stats; let i = index" [ngClass]="{'bg-dark-secondary': i%2 != 0, 'bg-dark-alt': i%2 == 0}">
        <td style="white-space:nowrap; width:1%;" scope="row">
          <img style="height: 20px;" src="https://scapers.herokuapp.com/api/skills/{{skill.name}}/icon"/>
          {{skill.name}}
        </td>
        <td>{{skill.level}}</td>
        <td>{{skill.xp}}</td>
        <td>{{skill.rank}}</td>
        <td>+{{skill.today}}</td>
        <td>+{{skill.yesterday}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="d-block d-sm-none">
  <div class="card text-white bg-dark-alt mt-3" *ngFor="let skill of stats">
    <div class="card-header text-center"><img style="height: 20px;"
                                              src="https://scapers.herokuapp.com/api/skills/{{skill.name}}/icon"/>
      {{skill.level}} {{skill.name}}
    </div>
    <div class="card-body bg-dark-secondary">
      <div class="row text-center">
        <div class="col">
          <small class="descriptor text-uppercase text-medium-gray">
            XP
          </small>
          {{skill.xp}}
        </div>
        <div class="col">
          <small class="descriptor text-uppercase text-medium-gray">
            Today
          </small>
          +{{skill.today}}
        </div>
        <div class="col">
          <small class="descriptor text-uppercase text-medium-gray">
            Yesterday
          </small>
          +{{skill.yesterday}}
        </div>
      </div>
    </div>
  </div>
</div>
