// Gray scale
$gray-100: #9093A5;
$gray-200: #777A8C;
$gray-300: #5E6173;
$gray-500: #444759;
$gray-700: #111426;
$gray-800: #00000D;

// Brand Scale
$theme-colors: (
  primary: #73937e,
  secondary: #fffffa,
  success: #5cb85c,
  info: #5bc0de,
  warning: #f0ad4e,
  danger: #d9534f,
  light: $gray-100,
  dark: $gray-700,
  darkest: $gray-800,
  dark-secondary: #202546,
  medium-blue: #4f5eb0,
  light-blue: #a7aed7
);

$table-dark-bg: $gray-700;

@import "./bootstrap/_functions.scss";
@import "./bootstrap/_variables.scss";

// Body
//$body-bg: #f5f8fa;
$body-bg: $gray-700;

// deleted bs.4 vars
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-size-xs:      .75rem !default;
$nav-tabs-active-link-hover-bg: $body-bg !default;

// icons
$icon-font-path: "../fonts/";
$icon-font-name: "toolkit-entypo";

// Component borders
// Create a custom variable to base the border-color off the body background.
$toolkit-border-color:  darken(#f5f8fa, 10%);
// Then apply that to key components
$panel-default-border:  $toolkit-border-color;
$panel-inner-border:    $toolkit-border-color;
$panel-footer-bg:       $body-bg;
$list-group-border:     $toolkit-border-color;
$navbar-border:         $toolkit-border-color;

// link and button colors
$link-color:           theme-color("primary");

// alerts
$alert-warning-border: #E6D0A1;

@import url("https://fonts.googleapis.com/css?family=Lato|Megrim|Comfortaa");

$font-family-cursive: 'Megrim', cursive;
$font-family-headings: 'Comfortaa', serif;

// Text Color
$font-family-sans-serif: "Lato", sans-serif;
$font-family-base:       $font-family-sans-serif;
$text-color:             $gray-700;
$letter-spacing-base:    0;
$line-height-base:       1.6;
$font-weight-base:       300;

// Main typography
$font-size-root: 14px;

// lead
$lead-font-size:      floor(($font-size-base * 1.15));
$lead-font-size-sm:   floor(($font-size-base * 1.5));
$lead-font-weight:    300;
$lead-line-height:    1.4;
$lead-letter-spacing: 0;


// Headings
$headings-font-weight: 600;
$headings-line-height: 1.2;


// Btns
$btn-font-size:      $font-size-base;
$btn-text-transform: default;
$btn-letter-spacing: none;
$btn-default-color:  #536570;
$btn-default-bg:     #fff;
$btn-default-border: #d4dbe0;
$btn-toolbar-divider-bg: $gray-200;


// Inputs
$input-border:            #d4dbe0;
$input-color-placeholder: $gray-300;


// z-index
$zindex-zoom:  1080;
$zindex-growl: 1090;


$container-max-widths: (
  lg: 960px + $grid-gutter-width,
  xl: 1200px + $grid-gutter-width
);
@include _assert-ascending($container-max-widths, "$container-max-widths");


// navbar
$navbar-margin-bottom:                      0;
$navbar-nav-active-font-weight:             inherit;

$navbar-inverse-color:  rgba(255,255,255,.5);
$navbar-inverse-bg:     theme-color("primary");
$navbar-inverse-border: #1C73A5;

$navbar-inverse-hover-color:    rgba(255,255,255,.8);
$navbar-inverse-active-color:   #fff;

$navbar-inverse-toggle-border-color:  #1C73A5;
$navbar-inverse-toggle-hover-bg:      darken($navbar-inverse-bg, 2%);

$nav-item-inline-spacer: 2rem;


// nav hover
$nav-link-hover-bg: $gray-100;


// nav bordered
$nav-bordered-color:              inherit;
$nav-bordered-color-active:       theme-color("primary");
$nav-bordered-font-weight:        300;
$nav-bordered-font-weight-active: 500;

// nav header
$nav-header-color: $gray-500;


// Navbar - transparent
$navbar-transparent-color:               #fff;
$navbar-transparent-bg:                  transparent;
$navbar-transparent-border:              transparent;
$navbar-transparent-link-color:          $navbar-transparent-color;
$navbar-transparent-link-hover-color:    darken($navbar-transparent-color, 10%);
$navbar-transparent-link-hover-bg:       transparent;
$navbar-transparent-link-active-color:   $navbar-transparent-link-hover-color;
$navbar-transparent-link-active-bg:      transparent;
$navbar-transparent-link-disabled-color: lighten($navbar-transparent-color, 10%);
$navbar-transparent-link-disabled-bg:    transparent;
$navbar-transparent-brand-color:         $navbar-transparent-color;
$navbar-transparent-brand-hover-color:   darken($navbar-transparent-color, 10%);
$navbar-transparent-brand-hover-bg:      transparent;
$navbar-transparent-toggler-hover-bg:     fade($navbar-transparent-color, 10%);
$navbar-transparent-toggler-icon-bar-bg:  $navbar-transparent-color;
$navbar-transparent-toggler-border-color: $navbar-transparent-color;
$navbar-transparent-toggler-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");


// popover
$popover-fallback-border-color: $gray-200;
$popover-border-color:          $gray-200;



// modal
$modal-content-fallback-border-color: $gray-300;


// misc colors
$headings-small-color: inherit;


// dropdowns
$dropdown-link-color:     $navbar-light-color;
$dropdown-border:         rgba(0,0,0,.05);
$dropdown-padding:        10px 0;
$dropdown-item-padding-y: 5px;
$dropdown-item-padding-x: 20px;
$dropdown-link-hover-bg:  $gray-100;


// Spacing
$spacer:   20px;
$spacer-x: $spacer;
$spacer-y: $spacer;


// zoom
$zoom-overlay-bg: #fff;


// list group
$list-group-hover-bg: $gray-100;

// Custom forms
$custom-select-color:       $input-color;
$custom-select-bg:          $input-bg;
$custom-select-disabled-bg: $input-disabled-bg;

$custom-control-indicator-bg:     $input-bg;
$custom-control-indicator-border: rgba(0,0,0,.15);

$custom-control-indicator-checked-bg:      theme-color("primary");
$custom-control-indicator-checked-border:  theme-color("primary");
$custom-control-indicator-active-bg:       lighten(theme-color("primary"), 15%);
$custom-control-indicator-active-border:   lighten(theme-color("primary"), 15%);
$custom-control-indicator-disabled-bg:     darken($input-bg, 5%);
$custom-control-indicator-disabled-border: $custom-control-indicator-border;


// Block
$block-color:              inherit;
$block-bg:                 #fff;
$block-color-inverted:     #fff;
$block-bg-inverted:        #000;
$block-title-font-size-sm: $font-size-base * 4;
$block-title-font-size:    $font-size-base * 3;
$block-lead-font-size-sm:  $font-size-base * 1.5;
$block-lead-font-size:     $font-size-base * 1.3;
$block-vertical-padding:   120px;


// Callouts
$callout-padding:       15px 20px;
$callout-border-radius: $border-radius;


// Stage
$stage-bg:                    $body-bg;
$stage-shelf-width:           250px;
$stage-toggle-offset:         20px;
$stage-toggle-zindex:         100;
$stage-toggle-padding:        4px 12px;
$stage-toggle-color:          #fff;
$stage-toggle-bg:             rgba(0,0,0,.1);
$stage-toggle-border-radius:  $border-radius;
$stage-toggle-hover-color:    #fff;
$stage-toggle-hover-bg:       $link-color;
